<!DOCTYPE html>
<html>
<head>
  <title>MySite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans">
</head>
<body>
  <div id="navbar">

    <div id="logo">
      <%= button_to "", home_path,
            :class => "home_button", :method => :get %>
      <img src="logo2.png">
    </div>

  </div>

<%= yield %>

</body>
</html>
