<!DOCTYPE html>
<html>
<head>
  <title>MySite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Muli">
  <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Puritan">
</head>
<body>

  <div id="nav">
    <div class="underline"> Portfolio </div>
    <div class="underline"> About Me </div>
    <div id="nav-logo"><img src="logo2.png"></div>
  </div>

  <div id="navbar">

    <div id="logo">
      <%= button_to "", home_path,
            :class => "home_button", :method => :get %>
      <img src="logo2.png">
    </div>

  </div>

<%= yield %>

</body>
</html>

<script>
  var $logo = $('#nav-logo');
  var $nav = $('#nav');
  $(document).scroll(function() {
    $logo.css({height: $(this).scrollTop() > 1? "40px":"60px"});
  });
  $(document).scroll(function() {
    $nav.css({height: $(this).scrollTop() > 1? "80px":"100px"});
  });
</script>
